<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this tasks", task %>
    </p>
  <% end %>
</div>

<%= link_to "New tasks", new_task_path %>
